* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
@mixin fl(){
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(black,gray);
    @include fl();
    overflow: hidden;
    i{
        position: absolute;
        
        background: linear-gradient(rgb(224, 132, 148),pink);
        color: transparent;
        background-clip: text;
        transition: all ease 0.3s;
        transform:  scale(0);
        top: 50%;
    }
    .card{
        height: 60vh;
        width: 25vw;
        background-color: gray;
        border-radius: 1rem;
        padding: 2rem 1rem;
        @include fl();
        
    flex-direction: column;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem 1rem;
  
        }
    }
}