* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  text-transform: capitalize;
}
main{
    
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(35, 3, 3, 0.917);
  color: whitesmoke;
  input{
    padding: 1rem 1rem;
  }
}