* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
@mixin flex(){
     display: flex;
    align-items: center;
    justify-content: center;
}
main{
    height: 100vh;
    width: 100vw;
   @include flex();
    background-color:black;
    anchor-name: --select-target;
    .box{
        height: 4rem;
        width: 10rem;
        background: linear-gradient(black,green);
        border: 2px solid gray;
        padding: 2rem 2rem;
        @include flex();
        font-size: 2rem;
        
    }
    .box:hover{       
    anchor-name: --select-target ;
    cursor: pointer;
    }
    // .box1{
    //     height: 10vw;
    //     width: 25vw;
    //     background: linear-gradient(black,rgba(0, 128, 0, 0));
    // }
    // .box2{
    //     height: 10vw;
    //     width: 25vw;
    //     background: linear-gradient(rgb(167, 122, 38),rgba(0, 128, 0, 0.101));
    // }
    // .box3{
    //     height: 10vw;
    //     width: 25vw;
    //     background: linear-gradient(rgb(126, 9, 209),rgb(175, 204, 175));
    // }
    .pointer{
        position: absolute;
        position-anchor: --select-target;
        top: anchor(top);
        right: anchor(right);
        left: anchor(left);
        bottom: anchor(bottom);
        // height: 100px;
        // width: 100px;
       background: radial-gradient(rgba(255, 255, 255, 0.275),black);
        transition: all 0.3s ease;  
        pointer-events: none;
    }
}