* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
@mixin flexCenter(){
    display: flex;
    align-items: center;
    justify-content: center;

}
.parent{
    height: 100vh;
    width: 100vw;
    background-color: rgb(30, 72, 135);
    @include flexCenter();
    flex-direction: column;
    gap:  0.8rem;
    h1{
        color: whitesmoke;
    }
    .box{
        height: 60vh;
        width: 80vh;
        @include flexCenter();
        flex-direction: column;
        justify-content: center;
        text-transform: capitalize;
        background: rgb(111, 175, 176);
        border-radius: 5rem;
        gap: 2rem;
        h1{
            color: antiquewhite;
            @include flexCenter();
            flex-direction: row;
        }
    }
    button{
        background: linear-gradient(gray,black);
        font-size: 2rem;
        color: white;
        padding: 0.3rem 0.3rem;
        border-radius: 0.6rem;
        border: none;
        cursor: pointer;

    }
    button:active{
        transform: scale(0.95);
        cursor: pointer;
    }
}