* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin centerNormalFlex(){
    display: flex;
        align-items: center;
        justify-content: center;
}
html, body {
  width: 100%;
  height: 100%;
  @include centerNormalFlex();
  background-color: green;
}

#main{
    border: 2px 1px solid black;
    width: 60vw;
    height: 60vh;
    margin: 4rem 4rem;
    padding: 5rem 5rem;
    background-color: aqua;
    @include centerNormalFlex();
    flex-direction: column;
    align-items: center;
   .box{
    
     .top{
        @include centerNormalFlex();
         padding: 2rem 2rem;
    }
    .bottom{
     @include centerNormalFlex();
     gap: 1rem;
     .left ,.right{
        
        button{
            padding: 0.2rem 0.2rem;
            text-transform: uppercase;
            font-size: 1.5rem;
            background: linear-gradient(green,white);
            transition: 0.2s all ease;
            
        }


     }
     .right{
        button{
            background: linear-gradient(red,white);
        }
     }

    }
    .bottom .left button:hover,
    .bottom .right button:hover  {
     transform: scale(1.1);
     border-radius: 2rem;
     font-size: 2rem;
    }

   }


}