*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(16px ,1.5vw,18px);
}
@mixin flex-col($gap:1rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}
section{
    max-width: 2000px;
}
main{
    width: 100%;
    background-color: black;
    @include flex-col(1);
    align-items: center;
    section{
    @include flex-col(1);
    background-color: black;
    padding: 1rem 1rem;
    
    .top{
        background-color: rgb(0, 0, 0);
        border-radius: 1rem;
        img{
            width: 100%;
            border-radius: 1rem;
        }
    
    }
    .bottom{
        background-color: #1E1E1E;
        @include flex-col(3);
        gap: 4rem;
        padding: 2rem 2rem;
        border-radius: 1rem;
        color: white;
        p{
                text-transform: uppercase;
                
            }
        padding: 1rem 1rem;
        .box{
            @include flex-col(2);
            gap: 1.5rem;
            
            h1{
                text-transform: uppercase;
                font-size: 2.5rem;
                line-height: 4rem;
            }
            p{
                text-transform: none;
                font-size: 1.2rem;
                line-height: 1.6;
                font-weight: 300;
                opacity: 0.7;
                
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                font-size: 1rem;
                border: none;
                background-color: transparent;
                text-transform: uppercase;
                color: white;
                width: 40%;
                i{
                    background: linear-gradient(rgb(5, 4, 4) ,rgb(0, 0, 0));
                    font-size: 1.3rem;
                    border-radius: 50%;
                    border: 0.01rem solid white;
                    font-weight: 100;
                }
                
            }
        }
    }
    }
}
@media (min-width: 900px) {
    main {
        > section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2rem;
             .top{
                
             }
             .bottom{
                @include flex-col();
                padding: 3rem 3rem;
                justify-content: space-between;
                .box{
                    display: flex;
                    justify-content: space-evenly;
                    h1{
                        font-size:4rem;
                        font-weight: 400;
                        line-height: 1.3;
                    }
                    p{
                        font-size: 1.7;
                    }
                    button{
                        width: 30%;
                        font-size: 1.1rem;
                        margin-bottom: 0%;
                        display: flex;
                        flex-direction: row;
                        align-items: start;
                        gap: 1rem;
                        

                    }
                }
             }
        }
    }
}
@media (min-width:3800){
    main{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        section{
             display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       
        }
    }
}
