*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100vh;
    width: 100%;
    background: linear-gradient(yellow,red);
    display: flex;
    align-items: center;
    
    gap: 10px;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 10px 10px;
    perspective: 1000px;
    transition: all ease 1s;
    
}
.box{
    height: 300px;
    width: 300px;
    background: linear-gradient(white,blue);
    flex-shrink: 0;
    padding: 5px 5px;
    box-shadow: 5px 5px 10px rgb(243, 225, 225);
    transition: all ease 1s;
}
.box:hover{
    transform: scale(1.2);
    transform: rotateY(45deg);
}
.ib{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(https://i.pinimg.com/originals/aa/63/8a/aa638ac39b1a944cd6227cfb2199facd.gif);
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: all ease 1s;
}
.box:hover .ib{
    font-size: 30px;
    /* background-image: url(https://i.pinimg.com/originals/aa/63/8a/aa638ac39b1a944cd6227cfb2199facd.gif); */
   
}
#main:hover{
    background-image: url(https://images.unsplash.com/photo-1755867712450-466ee464f340?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNXx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}