* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
@mixin fles(){
  display: flex;
  align-items: center;
  justify-content: center;
}
main{
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  @include fles();
  .box{
    height: 20rem;
    width: 30rem;
    border-radius: 2.5rem;
    background-color: white;
    display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr ;
  grid-template-areas: "first "
                        "2nd ";
  .first{
    grid-area: first;
    .loading{
      position: relative;
      height: 2rem;
      width: 100%;
      border-radius: 5rem;
      background-color: rgb(64, 77, 110);
      border: 1px 2px solid black;
      top: 100%;
      overflow: hidden;
      .grow{
        height: 100%;
        width: 0%;
        background-color: blue;
        
      }
    }
  }
  .snd{
    grid-area: 2nd;
    @include fles();
    justify-content: space-around;
    button{
      font-size: 1rem;
      color: white;
      border: none;
      padding: 0.4rem 0.4rem;
      background-color: blue;
      cursor: pointer;
    }
    button:active{
      scale: 0.95;
    }
  }
  }
  
}